# =========================
# Build
# =========================
bin/
obj/

# =========================
# Visual Studio / Rider
# =========================
.vs/
.vscode/
.idea/

# =========================
# User files
# =========================
*.user
*.suo
*.rsuser

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment / Secrets
# =========================
.env
*.env

appsettings.Development.json
appsettings.Local.json
secrets.json

# =========================
# Publish
# =========================
publish/

# =========================
# Entity Framework
# =========================
Migrations/*.Designer.cs

# =========================
# Archives
# =========================
*.zip
*.rar
*.7z

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db